batch-file=test_comptonall.mac
## Uncomment the following line to enable Synchrotron radiation
#precommand=/physics_lists/em/SyncRadiationAll true
geometry-file=geometries/ComptonGeometry.gdml
enable-optical=false
rootfile-prefix=ComptonAll_
output-dir=./
